# Numbers and more in Python!

In this lecture, we will learn about numbers in Python and how to use them.

We'll learn about the following topics:

    1.) Types of Numbers in Python
    2.) Basic Arithmetic
    3.) Differences between classic division and floor division
    4.) Object Assignment in Python

## Types of numbers

Python has various "types" of numbers (numeric literals). We'll mainly focus on integers and floating point numbers.

Integers are just whole numbers, positive or negative. For example: 2 and -2 are examples of integers.
Floating point numbers in Python are notable because they have a decimal point in them, or use an exponential (e) to define the number. For example 2.0 and -2.1 are examples of floating point numbers. 

Throughout this code we will be mainly working with integers or simple float number types.

Here is a table of the two main types we will spend most of our time working with some examples:

<table>
<tr>
    <th>Examples</th> 
    <th>Number "Type"</th>
</tr>

<tr>
    <td>1,2,-5,1000</td>
    <td>Integers</td> 
</tr>

<tr>
    <td>1.2,-0.5,2e2,3E2</td> 
    <td>Floating-point numbers</td> 
</tr>
 </table>

### Basic Arithmetics

In [5]:
# Addition
2+9

11

In [7]:
# Substraction
9-5

4

In [9]:
# Multiplication
2*5

10

In [4]:
# Division
15/7

2.142857142857143

In [2]:
# Floor Division
7//4

1

In [43]:
### Floor Division

Note:Floor division will give quetient as product

**Whoa! What just happened? .... 7 divided by 4 equals 1.75 not 1!**

The reason we get this result is because we are using "*floor*" division. The // operator (two forward slashes) truncates the decimal without rounding, and returns an integer result.

In [44]:
from math import floor
a = 10
b = 3
print(a//b)        # 3
print(floor(a/b))  # 3

3
3

#### so what we just want to remainder after division?

In [49]:
# The % symbol shows remainder
75%9
# it means 75 divided by 9

3

In [54]:
# Power
5**3

125

In [58]:
# We get square root by this method
25**0.5
# it shows that square root of 25 is 5

5.0

In [68]:
# Order of operations followed in python
2 + 10 * 10 / 2 + 3

55.0

(PEMDAS=Parentheses, Exponents, Multiplication/Division, Addition/Subtraction)

In [69]:
# can use parentheses to specify order
(2+10) * (10+3)

156

## Variable Assignments

Now that we've seen how to use numbers in Python as a calculator let's see how we can assign names and create variables.

We use a single equals sign to assign labels to variables. Let's see a few examples of how we can do this.

In [70]:
# Let's create an object called "a" and assign it number 5
# variable can be used to store any data type
# data type 1. integer 2.float 3.complex
a = 5
b = 7.5
print(a)

5

In [71]:
a+b

12.5

In [72]:
b*a

37.5

In [73]:
a*2

10

In [74]:
b/a

1.5

Yes ! python allows you write over assigned variable names.We can also use variables themsleves when doing the reassignment. Here an example what i mean,

In [75]:
# Check 
a

5

In [76]:
# use a to redefine a
a = a + a

In [77]:
a

10