# Set and Booleans

There are two other object types in Python that we should quickly cover: Sets and Booleans. 

## Sets

Sets are an unordered collection of *unique* elements. We can construct them by using the set() function. Let's go ahead and make a set to see how it works

In [1]:
x = set()

In [2]:
# We add to sets with the add() method
x.add(1)

In [3]:
# Show
x

{1}

In [4]:
x

{1}

Note the curly brackets. This does not indicate a dictionary! Although you can draw analogies as a set being a dictionary with only keys.

We know that a set has only unique entries. So what happens when we try to add something that is already in a set?

In [5]:
# Add a different value
x.add(2)

In [6]:
# Show
x

{1, 2}

In [7]:
# Try to add the same element
x.add(1)
# set does not take .append also we caant do concatenation

In [8]:
# Show
x

{1, 2}

In [58]:
# set stores data in unordered manner
g={'ganu','manu','raju','bhai'}
print(g)

{'ganu', 'raju', 'bhai', 'manu'}

In [40]:
g.add('dada')
print(g)

{'raju', 'bhai', 'dada', 'manu', 'ganu'}

In [44]:
# If we wants to add list to a set
g={'ganu','manu','raju','bhai'}
v=['kanha','raj','shri','bhai']
g.update(v)
print(g)

{'raj', 'shri', 'raju', 'bhai', 'kanha', 'manu', 'ganu'}

In [51]:
#Also we can give multiple values at single time using .update method
g.update(v,{'tatya'})
print(g)

{'raj', 'shri', 'raju', 'bhai', 'tatya', 'kanha', 'manu', 'ganu'}

Notice how it won't place another 1 there. That's because a set is only concerned with unique elements! We can cast a list with multiple repeat elements to a set to get the unique elements. For example:

In [59]:
# If we want to remove any value from set, it can be done using .discard & .remove method
g.discard('ganu')
print(g)

{'raju', 'bhai', 'manu'}

In [60]:
g.remove('bhai')
print(g)

{'raju', 'manu'}

## Difference between .remove and .discard
#### It we tries to remove an item, which is not present in set, by using .reomove method python will show error 
#### while .discard will give output as none/null.

In [63]:
g.remove('Veda')

KeyError: 'Veda'

In [66]:
# It doesnt give any output
g.discard('veda')

In [68]:
# to delete all the data of a set we can use a .clear method
g.clear()
print(g)

set()

In [67]:
# Create a list with repeats
list1 = [1,1,2,2,3,4,5,6,1,1]

In [32]:
# Cast as set to get unique values

# Interview question to print only unique elements from given list

set(list1)

{1, 2, 3, 4, 5, 6}

In [34]:
# It also can be done by just putting curly brackets{}

list1 = {1,1,2,2,3,4,5,6,1,1}
print(list1)

{1, 2, 3, 4, 5, 6}

In [74]:
# for union of sets we can use .union method

domestic_animals={'dog','cat','elephant'}
wild_animals={'lion','tiger','elephant'}
print(domestic_animals.union(wild_animals))

{'lion', 'elephant', 'cat', 'tiger', 'dog'}

In [73]:
# union can be done by using |
print(domestic_animals|wild_animals)

{'lion', 'elephant', 'cat', 'tiger', 'dog'}

In [75]:
# for intersection (common objects) we can use .intersection method or "&"
print(domestic_animals.intersection(wild_animals))

{'elephant'}

In [77]:
# Using "&" operator
print(domestic_animals & wild_animals)

{'elephant'}

In [79]:
# to check object is present in set or not 
print("ganu" in wild_animals)

False

In [82]:
# to print all the items of set
for animal in domestic_animals:
    print(animal)

cat
elephant
dog

## Difference between Two Sets
#### The difference between two sets A and B include elements of set A that are not present on set B.
#### We use the - operator or the difference() method to perform the difference between two sets. For example,

In [4]:
# first set
A = {2, 3, 5}

# second set
B = {1, 2, 6}

# perform difference operation using &
print('Difference using -:', A - B)

# perform difference operation using difference()
print('Difference using difference():', A.difference(B))

Difference using -: {3, 5}
Difference using difference(): {3, 5}

## Set Symmetric Difference
#### The symmetric difference between two sets A and B includes all elements of A and B without the common elements.
####  In Python, we use the ^ operator or the symmetric_difference() method to perform symmetric difference between two sets. For example,

In [5]:
# first set
A = {2, 3, 5}

# second set
B = {1, 2, 6}

# perform difference operation using &
print('using ^:', A ^ B)

# using symmetric_difference()
print('using symmetric_difference():', A.symmetric_difference(B))

using ^: {1, 3, 5, 6}
using symmetric_difference(): {1, 3, 5, 6}

# Check if two sets are equal
#### We can use the == operator to check whether two sets are equal or not. For example,

In [9]:
# first set
A = {1, 3, 5}

# second set
B = {3, 5, 1}

# perform difference operation using &
if A == B:
    print('Set A and Set B are equal')
else:
    print('Set A and Set B are not equal')

Set A and Set B are equal

## Booleans

Python  comes with Booleans (with predefined True and False displays that are basically just the integers 1 and 0). It also has a placeholder object called None. Let's walk through a few quick examples of Booleans (we will dive deeper into them later in this course).

In [18]:
# set object to be a boolean
a = True
b = False

#### Note
The 'T' of True and 'F' of False will always CAPITAL.

In [19]:
# Show
a

True

We can also use comparison operators to create booleans. We already have gone through comparison operators.

In [18]:
# Output is boolean
1 < 2

True

In [19]:
# None placeholder
b = None

In [20]:
# Show
print(b)

None

In [21]:
b

In [22]:
# It shows location of b
id(b)

140712007800960

In [23]:
type(b)

NoneType

That it! You should now have basic understanding of set and booleans

In [35]:
g={'ganu','manu','raju','bhai'}
print(g)

{'ganu', 'raju', 'bhai', 'manu'}